node_red_stubs/.flows.json.backup
[{"type":"tab","id":"7945764f.86ba88","label":"Graph"},{"id":"28ee20f9.d711e","type":"http in","name":"","url":"/rest/loyalty-management/customer/608926712/loyaltyprogramsubscription","method":"get","x":318,"y":102,"z":"7945764f.86ba88","wires":[["a5fed8de.5a0128"]]},{"id":"a5fed8de.5a0128","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":707.5,"y":96,"z":"7945764f.86ba88","wires":[["62a7e5a7.9d581c"]]},{"id":"62a7e5a7.9d581c","type":"file in","name":"LoyaltyProgram.json","filename":"./stubs/LoyaltyProgram.json","format":"utf8","x":884,"y":100,"z":"7945764f.86ba88","wires":[["e08f9bd4.1f7068"]]},{"id":"e08f9bd4.1f7068","type":"json","name":"toJSON","x":813,"y":210,"z":"7945764f.86ba88","wires":[["65952351.9a6adc"]]},{"id":"dab0ab80.254f58","type":"http response","name":"","x":1341.5,"y":435,"z":"7945764f.86ba88","wires":[]},{"id":"eb4caf67.14b35","type":"http in","name":"","url":"/rest/loyalty-management/customer/12156344/loyaltyprogramsubscription","method":"get","x":321.5,"y":40,"z":"7945764f.86ba88","wires":[["dbce601b.2431a"]]},{"id":"a740c3b7.58bf4","type":"http in","name":"","url":"/rest/loyalty-management/customer/12345/loyaltyprogramsubscription","method":"get","x":340.5,"y":154,"z":"7945764f.86ba88","wires":[["a5fed8de.5a0128"]]},{"id":"65952351.9a6adc","type":"function","name":"Add X-Application-User-Id & X-Application-Encryption-Key","func":"var key = '1234567890';\nvar userId = '12b03226a6d8be9c6e8cd5e55dc6c7920caaa39df14aab92d5e3ea9340d1c8a4d3d0b8e4314f1f6ef131ba4bf1ceb9186ab87c801af0d5c95b1befb8cedae2b9';\nif(msg.headers){\n\tmsg.headers['X-Application-User-Id'] = userId;\n\tmsg.headers['X-Application-Encryption-Key'] = key;\n}\nmsg.headers = {\n\t'X-Application-User-Id': userId,\n\t'X-Application-Encryption-Key': key\n};\nreturn msg;","outputs":1,"x":1100,"y":210,"z":"7945764f.86ba88","wires":[["dab0ab80.254f58"]]},{"id":"d722b91d.f66668","type":"http in","name":"","url":"/rest/loyalty-management/customer/608926712/loyaltyeligibility","method":"get","x":250,"y":303,"z":"7945764f.86ba88","wires":[["dbd3344d.ef238"]]},{"id":"dbd3344d.ef238","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":315,"y":249,"z":"7945764f.86ba88","wires":[["58806573.efeef4"]]},{"id":"58806573.efeef4","type":"file in","name":"LoyaltyProgramEligibility.json","filename":"./stubs/LoyaltyProgramEligibility.json","format":"utf8","x":558,"y":245,"z":"7945764f.86ba88","wires":[["e08f9bd4.1f7068"]]},{"id":"cc25469a.1ab78","type":"http in","name":"","url":"/rest/loyalty-management/customer/608926712/loyaltypointshistory","method":"get","x":256.5,"y":410,"z":"7945764f.86ba88","wires":[["604c0206.2cb5a4"]]},{"id":"604c0206.2cb5a4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":308,"y":356,"z":"7945764f.86ba88","wires":[["d5c20c54.488848"]]},{"id":"d5c20c54.488848","type":"file in","name":"PointsHistory.json","filename":"./stubs/PointsHistory.json","format":"utf8","x":551,"y":352,"z":"7945764f.86ba88","wires":[["e08f9bd4.1f7068"]]},{"id":"a9c4662d.0e945","type":"http in","name":"","url":"/rest/loyalty-management/customer/608926712/loyaltyprogramsubscription","method":"post","x":295,"y":196,"z":"7945764f.86ba88","wires":[["a5fed8de.5a0128","d2720b52.abc128"]]},{"id":"d2720b52.abc128","type":"debug","name":"","active":true,"console":"false","complete":"false","x":691,"y":159,"z":"7945764f.86ba88","wires":[]},{"id":"2178f357.a8d804","type":"http in","name":"","url":"/rest/loyalty-management/eligibilityCheck/loyaltyProgramSubscription/123456789120121/transfer","method":"get","x":352,"y":502,"z":"7945764f.86ba88","wires":[["4abd090f.9424c8"]]},{"id":"4abd090f.9424c8","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":573,"z":"7945764f.86ba88","wires":[["855de1d5.a6a25"]]},{"id":"855de1d5.a6a25","type":"file in","name":"TransferEligibility.json","filename":"./stubs/TransferEligibility.json","format":"utf8","x":610,"y":572,"z":"7945764f.86ba88","wires":[["e08f9bd4.1f7068"]]},{"id":"2543c08a.dabc4","type":"http in","name":"","url":"/rest/loyaltyProgramSubscription/123456789120121/transfer","method":"post","x":240.5,"y":647,"z":"7945764f.86ba88","wires":[["a8b79f8.826eee"]]},{"id":"2525c1ab.e12bbe","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1002.199951171875,"y":634.4000244140625,"z":"7945764f.86ba88","wires":[["3229ffa7.c3d09"]]},{"id":"3229ffa7.c3d09","type":"file in","name":"TransferPointError.json","filename":"./stubs/TransferPointError.json","format":"utf8","x":1205.199951171875,"y":634.4000244140625,"z":"7945764f.86ba88","wires":[["6e83b345.d66674"]]},{"id":"6e83b345.d66674","type":"json","name":"toJSON","x":1011.5999755859375,"y":578.4000244140625,"z":"7945764f.86ba88","wires":[["d212ca46.6dccc8"]]},{"id":"d212ca46.6dccc8","type":"function","name":"Return Error","func":"msg.statusCode = 400;\nreturn msg;","outputs":1,"x":1218.5999755859375,"y":578.5999145507812,"z":"7945764f.86ba88","wires":[["dab0ab80.254f58"]]},{"id":"a8b79f8.826eee","type":"switch","name":"use pointQuantity=1 to simulate an error","property":"payload.pointQuantity","rules":[{"t":"neq","v":1,"v2":0},{"t":"eq","v":1,"v2":0}],"checkall":"false","outputs":2,"x":667.2000122070312,"y":646.7999877929688,"z":"7945764f.86ba88","wires":[["4abd090f.9424c8"],["2525c1ab.e12bbe"]]},{"id":"6ce6277f.9319d8","type":"http in","name":"","url":"/rest/loyalty-management/eligibilityCheck/loyaltyProgramSubscription/987654321/transfer","method":"get","x":328,"y":795,"z":"7945764f.86ba88","wires":[["e461a6e6.1b9e58"]]},{"id":"bd7af7c7.428508","type":"file in","name":"TransferNotEligibility.json","filename":"./stubs/TransferNotEligibility.json","format":"utf8","x":777,"y":722,"z":"7945764f.86ba88","wires":[["6e83b345.d66674"]]},{"id":"e461a6e6.1b9e58","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":533,"y":723,"z":"7945764f.86ba88","wires":[["bd7af7c7.428508"]]},{"id":"dbce601b.2431a","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":40,"z":"7945764f.86ba88","wires":[["558f939.faa706c"]]},{"id":"558f939.faa706c","type":"file in","name":"LoyaltyProgramBis.json","filename":"./stubs/LoyaltyProgramBis.json","format":"utf8","x":891,"y":39,"z":"7945764f.86ba88","wires":[["e08f9bd4.1f7068"]]}]