node_red_stubs/flows.json
[{"type":"tab","id":"7945764f.86ba88","label":"Graph"},{"id":"7149a54e.8eb65c","type":"subflow","name":"Subflow 1","in":[],"out":[]},{"id":"e08f9bd4.1f7068","type":"json","name":"toJSON","x":558,"y":38,"z":"7945764f.86ba88","wires":[["dab0ab80.254f58"]]},{"id":"dab0ab80.254f58","type":"http response","name":"","x":707.5,"y":38,"z":"7945764f.86ba88","wires":[]},{"id":"cc25469a.1ab78","type":"http in","name":"","url":"/rest/graph","method":"get","swaggerDoc":"","x":80.5,"y":39,"z":"7945764f.86ba88","wires":[["604c0206.2cb5a4"]]},{"id":"604c0206.2cb5a4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":252,"y":39,"z":"7945764f.86ba88","wires":[["d5c20c54.488848"]]},{"id":"d5c20c54.488848","type":"file in","name":"swim.json","filename":"./stubs/swim.json","format":"utf8","x":415,"y":39,"z":"7945764f.86ba88","wires":[["e08f9bd4.1f7068"]]},{"id":"f729a423.08d658","type":"http in","name":"","url":"/rest/graph","method":"post","swaggerDoc":"","x":82.5,"y":90,"z":"7945764f.86ba88","wires":[["840a34ef.7bf5c8","d96eb9ef.269148"]]},{"id":"840a34ef.7bf5c8","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":253,"y":90,"z":"7945764f.86ba88","wires":[["72047a3f.8dfb84","52954ef.fad6ab"]]},{"id":"3fc2d343.c03d2c","type":"file","name":"swim.json","filename":"./stubs/swim.json","appendNewline":false,"createDir":false,"overwriteFile":"true","x":735,"y":173,"z":"7945764f.86ba88","wires":[]},{"id":"72047a3f.8dfb84","type":"http response","name":"","x":705,"y":90,"z":"7945764f.86ba88","wires":[]},{"id":"d96eb9ef.269148","type":"file in","name":"swim.json","filename":"./stubs/swim.json","format":"utf8","x":104,"y":252,"z":"7945764f.86ba88","wires":[["a06e1046.5f91f"]]},{"id":"a06e1046.5f91f","type":"json","name":"","x":232,"y":252,"z":"7945764f.86ba88","wires":[["ea081ad1.15f7e8"]]},{"id":"3f157599.c0ea8a","type":"debug","name":"","active":true,"console":"false","complete":"false","x":702,"y":252,"z":"7945764f.86ba88","wires":[]},{"id":"52954ef.fad6ab","type":"function","name":"saveNode","func":"var node;\nvar updating = true;\nvar nodeLookup = {};\nfor (var i = 0; i < context.global.nodesData.nodes.length; i++) {\n    nodeLookup[context.global.nodesData.nodes[i].id] = context.global.nodesData.nodes[i];\n}\nnode = nodeLookup[msg.payload.id];\n\nif (node === undefined) {\n    node = {};\n    node.id = msg.payload.id;\n    updating = false;\n}\nnode.lane = msg.payload.lane;\nnode.details = {};\nnode.details.name = msg.payload.details.name;\nnode.details.version = msg.payload.details.version;\nnode.details.status = msg.payload.details.status;\nnode.details.type = msg.payload.details.type;\nnode.details.group = msg.payload.details.group;\n\nfor (var i = 0; i < msg.payload.linkedNodes.length; i++) {\n    var link = {};\n    link.source = context.global.nodesData.nodes.length;\n    link.target = msg.payload.linkedNodes[i].index;\n    context.global.nodesData.links.push(link);\n}\n\nif (!updating) {\n    context.global.nodesData.nodes.push(node);\n}\n\nvar newMsg = { payload: context.global.nodesData };\nreturn newMsg;","outputs":1,"noerr":0,"x":398,"y":173,"z":"7945764f.86ba88","wires":[["3fc2d343.c03d2c"]]},{"id":"ea081ad1.15f7e8","type":"function","name":"retrieveNodes","func":"context.global.nodesData = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":252,"z":"7945764f.86ba88","wires":[[]]}]